body {
    font-family: 'Open Sans', sans-serif; /* стиль шрифта */
    margin: 0;
}

.background-image {
    background-image: url(TEST.jpg);
    height: 3639px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.gurnal {
    background-image: url(gurnal.jpg);
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.caption {
    position: relative;
    left: 500px;
    top: -10px;
    color: #362B3A;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}



.menu { /* расположение слов меню */

    padding-top: 5vh; /* Используем высоту видимой области */
    display: flex;
    align-items: center;
    margin-left: 18vw; /* Используем ширину видимой области */
    gap: 25vw; /* Используем ширину видимой области */
}
.slovo { /* стиль слов меню */
    color: #362B3A;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}
.test {
    padding-top: 1vh; /* Пример использования высоты видимой области */
    display: flex;
    align-items: center;
    margin-left: 17vw; /* Пример использования ширины видимой области */
    gap: 22vw; /* Пример использования ширины видимой области */

}


/* Стили для анимации при наведении */
    .slovo::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: -4px;
        width: 0;
        height: 3px;
        background-color: #6660CC;
        transition: width 0.5s;
    }

/* Стили для анимации при наведении */
.slovo:hover::after {
    width: 100%;
    background-color: #6600CC;
}

/* страница Журнал */
/* стрелочка на глаавный экран */
.container1 {
    position:relative;
    left:850px;
    top:-15px;
}


/* Общие стили */
*, *:after, *:before {
    border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.hover-text-to {
    overflow: hidden;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    display: flex;
   
    margin-top:2300px; /* Подтолкнет контейнер вниз страницы */
}

    .hover-text-to figure {
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        background: #527c82;
        text-align: center;
        cursor: pointer;
        margin: 16px; /* Небольшие отступы между изображениями */
        width: 30%; /* Пример использования процентов для ширины изображений */
        
    }

        .hover-text-to figure img {
            position: relative;
            display: block;
            min-height: 100%;
            opacity: 0.8;
            max-width: 100%; /* Устанавливаем максимальную ширину в 100% */
            margin: 0 auto;
        }

        .hover-text-to figure figcaption {
            padding: 2em;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .hover-text-to figure figcaption::before,
            .hover-text-to figure figcaption::after {
                pointer-events: none;
            }

        .hover-text-to figure figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .hover-text-to figure h3 {
            word-spacing: -0.15em;
            font-weight: 300;
        }

            .hover-text-to figure h3 span {
                font-weight: 800;
            }

        .hover-text-to figure h3,
        .hover-text-to figure p {
            margin: 0;
        }

        .hover-text-to figure p {
            letter-spacing: 1px;
            font-size: 68.5%;
        }


/* Эффект при наведении */
figure.effect-text-four {
    background: #527c82;
}

    figure.effect-text-four img {
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        transform: scale(1.1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    figure.effect-text-four:hover img {
        opacity: 0.4;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-text-four figcaption {
        text-align: left;
    }

    figure.effect-text-four h3 {
        position: relative;
        overflow: hidden;
        padding: 0.5em 0;
    }

        figure.effect-text-four h3::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: #fff;
            content: '';
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
        }

    figure.effect-text-four:hover h3::after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-text-four p {
        padding: 1em 0;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }

    figure.effect-text-four:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
.button {
    position: absolute;
    width: 10%; /* Ширина в процентах от ширины родительского блока */
    height: auto; /* Высота автоматически подстраивается под содержимое */
    color: #D2E2D5;
    top: 170vh; /* Расположение относительно высоты окна */
    left: 20vw; /* Расположение относительно ширины окна */
    font-size: 1.5em;
}


.ver {
    width: 100%;
    display: block;
    margin: 0;
}

