.sign {
	background-image: url(Group35.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* расположение полей регистрации */
form input {
	display: block;
	margin-bottom: 10px;
	border: 1px solid #E5E9F5;
	background-color: white;
	padding: 20px;
	margin-top: 21px;
	border: none;
	border-color: transparent;
	border: 1px solid black; /* Черная рамка */
}

#knopka2 {
	margin-top: -30px;
	border: none;
	font-size: 150%; /* Увеличение размера шрифта */
	background-color: white;
	padding: 15px 30px;
	top: 525px;
	left: 350px; /* Добавление внутренних отступов */
}

input:focus {
	outline: none; /*  чтобы при клике на окно не было рамки */
}

#knopka2 {
	border: none;
	font-size: 110%;
	background-color: #4B001E;
	position: absolute;
	
}

	#knopka2:hover {
		cursor: pointer;
	}

#submit1 {
	color: white;
	margin-top: 78px;
}

#sign-up-container {
	margin-top: -620px;
	margin-left: 320px;
}
