.sign {
	background-image: url(Group51.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* расположение полей регистрации */
form input {
	display: block;
	margin-bottom: 10px;
	border: 1px solid #E5E9F5;
	background-color: white;
	padding: 20px;
	margin-top: 21px;
	border: none;
	border-color: transparent;
	border: 1px solid black; /* Черная рамка */
}

#knopka2 {
	margin-top: -30px;
	border: none;
	font-size: 150%; /* Увеличение размера шрифта */
	background-color: white;
	padding: 15px 30px;
	top: 525px;
	left: 350px; /* Добавление внутренних отступов */
	left: 315px;
}

input:focus {
	outline: none; /*  чтобы при клике на окно не было рамки */
}

#knopka2 {
	border: none;
	font-size: 120%; /* Увеличиваем размер шрифта */
	background-color: #4B001E;
	position: absolute;
	transition: background-color 0.3s ease; /* Добавляем анимацию для цвета фона */
	width: 200px; /* Увеличиваем ширину кнопки */
	height: 50px; /* Увеличиваем высоту кнопки */
	border-radius: 10px; /* Делаем закругленные углы */
}

	#knopka2:hover {
		background-color: #8E0139; /* Новый цвет фона при наведении */
	}


	#knopka2:hover {
		cursor: pointer;
	}

#submit1 {
	color: white;
	margin-top: 78px;
}

#sign-up-container {
	margin-top: -620px;
	margin-left: 320px;
}
