# Object file
*.o
# Создано https://www.toptal.com/developers/gitignore/api/windows
# Редактировать в https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Файлы кэша миниатюр Windows
Thumbs.db
Thumbs.db: шифруемый 
ehthumbs.db 
ehthumbs_vista.db

# Файл дампа 
*.stackdump

# Файл конфигурации папки
[Dd]esktop.ini

# Корзина, используемая в общих файловых ресурсах
$ RECYCLE.BIN/

# Файлы установщика Windows 
*.cab
*.msi
*.msix 
*.msm
*.msp

# Ярлыки Windows 
*.lnk

# Завершение https://www.toptal.com/developers/gitignore/api/windows
Оригинальный текст: Thumbs.db:encryptable ehthumbs.db ehthumbs_vista.db

# Ada Library Information
*.ali
